
.cards {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-column-gap: 20px;
    grid-row-gap: 32px;
    padding: 70px;
    margin: 0 auto;
    justify-content: center;
}
  
.cards__more {
    margin: 50px 70px 80px;
    width: calc( 100% - 140px );
    background-color: #2F2F2F;
    height: 36px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease-out .2s;
    border-radius: 6px;
}
  
.cards__more:focus {
    outline: none;
    border: none;
}
  
.cards__more:hover {
    opacity: 0.7;
}
  
@media screen and (max-width: 1279px) {
    .cards {
        grid-template-columns: repeat(2, 339px);
        grid-column-gap: 30px;
        grid-row-gap: 36px;
        padding: 70px 30px;
    }
  
    .cards__more {
        margin: 50px 30px 80px;
        width: calc( 100% - 60px );
    }
  }
  
  @media screen and (max-width: 769px) {
    .cards {
        grid-template-columns: repeat(1, 300px);
        grid-row-gap: 16px;
        padding: 40px 10px;
    }
  
    .cards__more {
        margin: 50px 10px 80px;
        width: calc( 100% - 20px );
    }
}