.card {
    background-color: #222222;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 100%;
    max-width: 270px;
    display: flex;
    flex-direction: column;
}

.card__poster {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 270px;
    height: 151px;
    cursor: pointer;
}

.card__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__subinfo {
    display: flex;
    flex-direction: column;
}

.card__description {
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    color: white;
    margin: 14px auto 10px 12px;
}

.card__duration {
    font-size: 11px;
    line-height: 13px;
    text-align: left;
    color: #8B8B8B;
    margin: 0 auto 14px 12px;
}

.card__action {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    background-color: #313131;
    border-radius: 50%;
    margin: 14px 12px 0 0;
    padding: 0;
    cursor: pointer;
}
.card__action_save {
    background-color: #2BE080;
}

.card__action_delete {
    width: 16px;
    height: 16px;   
    border-radius: 50%;
    border: none;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 14px 12px 0 0;
}

.card__action_delete:after {
    position: absolute;
    content: '';
    width: 11px;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
}
  
.card__action_delete:before {
    position: absolute;
    content: '';
    width: 11px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
}

@media screen and (max-width: 1279px) {
    .card {
        max-width: 339px;
    }

    .card__poster {
        width: 339px;
        height: 190px;
    }
}

@media screen and (max-width: 769px) {
    .card__poster {
        width: 300px;
        height: 168px;
    }
}