.page {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    color: #FFFFFF;
    min-height: 100vh;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #202020;
}