.search-form {
    padding: 70px 70px 47px 70px;
}
  
.search-form__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
  
.search-form__bar {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #424242;
}

.search-form__input {
    border: none;
    color: white;
    padding: 13px 0 13px 0;
    flex: auto;
    background-color: #202020;
    font-size: 28px;
}
  
.search-form__input:focus {
    outline: none;
    transition: all ease-out .2s;
}
  
.search-form__submit {
    margin-left: 21px;
    border: none;
    position: relative;
    width: 58px;
    height: 34px;
    background-color: #4285F4;
    border-radius: 48px;
    cursor: pointer;
    transition: all ease-out .2s;
    font-size: 11px;
    color: white;
}

.search-form__submit_disabled {
    cursor: default;
    background-color: gray;
}

.search-form__submit:hover {
    opacity: .7;
}

.search-form__submit:focus {
    outline: none;
    border: none;
} 

.search-form__filter-container {
    margin-top: 32px;
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-left: 50px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.search-form__filter-container:hover {
    opacity: .9;
}
  
.search-form__filter-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.search-form__filter-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 20px;
    background-color: #424242;
    border-radius: 16px;
    transition: all ease-in-out .2s;
}
  
.search-form__filter-checkmark:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    transition: all ease-in-out .2s;
}
  
.search-form__filter-checkbox:checked ~ .search-form__filter-checkmark:after {
    background-color: #3DDC84;
    transform: translateX(16px);
}

@media screen and (max-width: 769px) {
    .search-form {
        padding: 80px 30px 60px 30px;
    }
    
    .search-form__filter-container {
        margin-top: 29px;
        padding-left: 0px;
        padding-right: 52px;
    }

    .search-form__container {
        align-items: flex-end;
    }

    .search-form__filter-checkmark {
        right: 0;
        left: auto;
    }
}

@media screen and (max-width: 480px) {
    .search-form {
        padding: 90px 14px 51px 14px;
    }

    .search-form__submit {
        padding-left: 0;
        padding-right: 0;
    }

    .search-form__input {
        font-size: 18px;
        padding: 15px 0;
    }
    
    .search-form__container {
        align-items: center;
    }

    .search-form__filter-container { 
      margin-top: 41px;
      font-size: 11px;
    }
}